env
**/*.pyc
**/__pycache__
.DS_Store
*.env
*.sqlite3

# Accept these files in the repository
!.gitignore
!.travis.yml
/.env
/.vscode
**/migrations/__init__.py
**/migrations/0002_organization_user.py
**/migrations/0003_moneydonatorinfo.py
**/migrations/0004_moneydonatorinfo_amount.py
**/migrations/0005_auto_20200818_1142.py
**/migrations/0006_auto_20200818_1431.py
