body {
  background-color: #170c0c;
  font-family: poppins;
  font-size: 15px;
}
.container {
  color: white;
  min-height: 1500px;
}
.dis {
  margin-top: 45px;
  font-size: 20px;
  letter-spacing: 0.5px;
}
.lead {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.btn-lg:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
/* .col img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  grid-area: image;
  margin-bottom: 8px;
  margin-right: 100px;
} */

.table-dark {
  border-color: red;
  background-color: #170c0c;
  font-family: poppins;
  font-size: 16px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 12px #1ee86f;

  overflow: hidden;
}
td,
th {
  text-align: center;
}
tr {
  width: 100%;
}
th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
}

.a:hover {
  background: white;
  color: black;
}
.insert {
  color: black;
  border: 1px solid white;
}
.insert:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.btn:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}

.st {
  margin-bottom: 80px;
}
.main {
  margin-bottom: 25px;
}
.card {
  margin: auto;
  margin-bottom: 5px;
  background: linear-gradient(#054f38, black);
  box-shadow: 0px 2px 10px green;
}
.card-body h5 {
  font-size: 17px;
  color: white;
  background-size: cover;
  border-radius: 5px;
}
.card-body p {
  font-size: 16px;
  color: white;
}
.sl {
  font-size: 15px;
  cursor: pointer;
  background: #ffda15;
  color: black;
  border: 1px solid black;
}
.df {
  border-color: black;
}

input[type="file"] {
  display: none;
}
.q {
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;

  margin-bottom: 20px;
}
