* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #170c0c;
  padding-bottom: 220px;
  font-family: poppins;
}

h3 {
  font-family: Poppins;
  text-align: center;
  margin-top: 110px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
}
.amount {
  font-family: "Poppins";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background-color: white;
  height: 300px;
  border-radius: 10px;

  margin-bottom: 50px;
}
.radio {
  font-size: 20px;
  font-weight: 500;

  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  position: relative;
  padding-left: 30px;

  cursor: pointer;
}
.radio + .radio {
  margin-left: 20px;
}
.radio input[type="radio"] {
  display: none;
}
.radio span {
  height: 20px;
  width: 18px;
  border-radius: 50%;
  border: 3px solid #ffda15;
  display: block;
  position: absolute;
  left: 0;
  top: 7px;
}
.radio span:after {
  content: "";
  height: 8px;
  width: 8px;
  background: #ffda15;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50%;
  transition: 300ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span:after {
  transform: translate(-50%, -50%) scale(1);
}
.amount input[type="text"] {
  width: 90%;
  height: 80%;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 16px;
  font-family: Poppins;
  color: black;
}

.amount input[type="text"]:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
h2 {
  color: white;
  font-size: 18px;
  text-align: left;
}
.footer-top {
  background: #170c0c;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 10px;
}
.segment-one {
  margin: 10px 0;
  padding-left: 50px;
}
.segment-two ul {
  margin: 0px;
  padding: 0;

  list-style: none;
  color: white;
}
.segment-two ul li {
  border-bottom: 1px solid #1ee86f;
  line-height: 40px;
}
.segment-two ul li a {
  color: white;
  text-decoration: none;
}
.segment-three h2 {
  padding-right: 0;
  padding-left: 0;
}
.segment-three ul {
  margin: 0;
  padding: 0;

  list-style: none;
  color: white;
}
.segment-four h2 {
  color: white;
  float: center;
}
.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-four p {
  color: white;
  font-size: 18px;
}
.segment-four a {
  background: #1ee86f;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 0px;
}
.segment-four a i {
  font-size: 16px;
  color: white;
  padding: 8px 10px;
}
.btn {
  color: black;
  background: #ffda15;
  font-size: 16px;
  font-family: Poppins;
  height: 50%;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 50;
  margin: auto;
  border-color: black;
}
.cs {
  border-radius: 8px;
  box-shadow: 0 0 2px 0 #ffda15;
  margin: auto;
}

.cs:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.box {
  background-color: #1ee86f;
  border-radius: 10px;
}

.radio-group label {
  color: black;
}
