* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #170c0c;
  padding-bottom: 220px;
  font-family: poppins;
  color: white;
}

h3 {
  font-family: Poppins;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 5px;
}

.amount input[type="text"] {
  width: 40%;
  height: 40%;
  border: 1px solid white;
  border-radius: 8px;
  margin: 8px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
  font-family: Poppins;

  color: black;
}

.amount input[type="number"] {
  width: 40%;
  height: 40%;
  border: 1px solid white;
  border-radius: 8px;
  margin: 8px 0;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
  font-family: Poppins;

  color: black;
}

::placeholder {
  color: black;
  text-align: center;
}

.amount input[type="text"]:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
h2 {
  color: white;
  font-size: 18px;
  text-align: left;
}
.footer-top {
  background: #170c0c;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-left: 10px;
}
.segment-one {
  margin: 10px 0;
  padding-left: 50px;
}
.segment-two ul {
  margin: 0px;
  padding: 0;

  list-style: none;
  color: white;
}
.segment-two ul li {
  border-bottom: 1px solid #1ee86f;
  line-height: 40px;
}
.segment-two ul li a {
  color: white;
  text-decoration: none;
}
.segment-three h2 {
  padding-right: 0;
  padding-left: 0;
}
.segment-three ul {
  margin: 0;
  padding: 0;

  list-style: none;
  color: white;
}
.segment-four h2 {
  color: white;
  float: center;
}
.segment-four h2:before {
  content: "|";
  color: #c65039;
  padding-right: 10px;
}
.segment-four p {
  color: white;
  font-size: 18px;
}
.segment-four a {
  background: #1ee86f;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 0px;
}
.segment-four a i {
  font-size: 16px;
  color: white;
  padding: 8px 10px;
}
.btn {
  color: black;
  background: #ffda15;
  font-size: 14px;
  font-family: Poppins;
  height: 40%;
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 50;
  margin: auto;
  border-color: none;
}
.cs {
  border-radius: 8px;
  box-shadow: 0 0 2px 0 #ffda15;
  margin: auto;
}

.cs:hover {
  color: white;
  background-color: black;
  border-color: #ffda15;
}
.boxj {
  background-color: #1ee86f;
  border-radius: 10px;
}

.radio-group label {
  color: white;
}
.main {
  position: relative;
  min-height: 113vh;
  width: 600px;
  border-radius: 8px;
  background: linear-gradient(#c3a905, #6ccded);

  box-shadow: 0px 5px 15px green;
}

.mains {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .amount {
  margin-top: 20px;
}
.radio-group {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.radio {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.radio__input {
  display: none;
}
.radio__radio {
  width: 1em;
  height: 1em;
  border: 2px solid #ffda15;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;
  padding: 2px;
}

.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: #6ced75;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}
.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}

.n3 {
  margin-left: 120px;
}
.n {
  margin-left: 1px;
}
.n0 {
  margin-left: 7px;
}
.n1 {
  margin-left: 13px;
}
.n2 {
  margin-left: 14px;
}

.co textarea {
  background-color: white;
  width: 240px;
  height: 90px;
  border-radius: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
  font-family: Poppins;
  color: black;

  margin-bottom: 4px;
  border: 1px solid white;
  border-radius: 8px;
}
.co textarea:focus {
  border-color: #ffda15;
  box-shadow: 0 0 8px 0 #ffda15;
}
