body {
  background-color: #170c0c;
  font-family: poppins;
  padding-bottom: 280px;
}

h2 {
  color: white;
  font-size: 15px;
  text-align: left;
  font-family: poppins;
}
* {
  box-sizing: border-box;
}
.gallary {
  border-color: #ccc;
  overflow: hidden;
  border-radius: 8px;
}
.gallary img {
  width: 100%;
  height: auto;
  grid-area: image;
  margin-left: 2px;
  transition: 0.5s all ease;
}
.gallary img:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.des {
  padding: 15px;
  background: linear-gradient(#ffc107, #054f38);
  color: white;
  z-index: 10;
}

.sgallary1 {
  margin-bottom: 20px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 33px;
  font-weight: bold;
}

.page {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.page a {
  color: black;
  background-color: #ffda15;
  border-color: white;
}
