body {
  background-color: #170c0c;
  padding-bottom: 200px;
  font-family: poppins;
}
h2 {
  color: white;
  font-size: 18px;
}

.btn {
  color: black;
  background: #ffda15;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  border-color: black;
}
.display-4 {
  font-size: 33px;
  font-weight: bold;
  font-family: poppins;
  color: white;
  letter-spacing: 1px;
  line-height: 50px;
}
.lead {
  font-size: 14px;
  font-family: poppins;
  color: white;
  text-align: justify;
  line-height: 30px;
}
.jumbotron {
  background: none;
}
.so {
  color: white;
  padding: 20px 0;
  font-family: poppins;

  font-size: 20px;
  margin-top: 60px;

  text-transform: capitalize;
}
.cs {
  border-radius: 10px;
  border-color: black;
  margin-top: 20px;
  transition: 0.3s all ease;
}

.cs:hover {
  color: white;
  transform: translateY(-3px);
  background-color: black;
  border: 2px solid #ffda15;
}
.ss {
  border-radius: 10px;
  transition: 0.3s all ease;
}
.ss:hover {
  color: white;
  transform: translateY(-3px);
  background-color: black;
  border-color: #ffda15;
}

.don {
  background-color: #ffda15;
  border: 1px solid black;
  border-radius: 5px;
  transition: 0.5s all ease;
  padding: 10px;
  color: black;
}
.don:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  border-color: #ffda15;
}
.card {
  width: 16rem;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  background-color: #1ee86f;
  transition: 0.5s all ease;
  cursor: pointer;
  margin: 30px;
  padding: 5px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;
  font-family: poppins;
  font-weight: bold;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h4 {
  font-size: 18px;
  font-family: poppins;
  font-weight: bold;
}
.image {
  background-size: cover;
  grid-area: image;
  height: 163px;
  overflow: hidden;
  border-radius: 8px;
}

.image img {
  width: 100%;
}
img {
  border-radius: 8px;
}
