body{
  background-color:#170c0c;
  color:white;
   margin:0;
  padding:0;
 
  font-family:poppins;
  font-size:14px;
  padding-bottom:50px;

}


.main{
  position:relative;
  min-height:100vh;
  width:700px;
  border-radius:8px;
  background:linear-gradient(#054f38,black);
  box-shadow:0px 5px 15px green;

}
.mains{
 display:flex;
  justify-content: center;
  align-items:center;
}


.form{
 position:relative;
  height:100%;
  width:100%;
 text-align: center;
  justify-content: center;
  align-items: center;
}
.form h4{
  margin-top:35px;
   margin-bottom:0;
  margin-right:0;
   
  padding:0;
  color:white;
  font-size:17px;
  letter-spacing:0.5px;
}.form input.s{
  width:50%;
  
}
.form .input-box{
  
  width:100%;
  margin-top:20px;
  
}
.form .input-box input{
  width:50%;
  background:white;
  border: 2px solid white;
  border-radius:8px;
  
  font-size:14px;
  color:black;
  letter-spacing:0.5px;
  text-transform:capitalize;
 
  outline: none;
padding: 4px;
box-sizing: border-box;
transition: 0.3s;
  
}

.input-box input[type="text"]:focus {
border-color: #ffda15;
box-shadow: 0 0 8px 0 #ffda15;
}

::placeholder{
  color:black;
  text-align: center;
}

.form a{
  text-decoration:none;
}



.form .wr{
 
  background-color:white;
  border-radius:4px;
   width: 25px;
  height: 25px;
}


.ce {

padding-top: 10px;
  text-align: center;
  align-items: center;
  margin: auto;
}

.ce input[type="file"] {
display: none;
 
}
.ce label {
font-size: 14px;
font-family: poppins;
height:40px;
width: 150px;
border-radius: 3px;
border: 1px solid none;
margin: auto;
  text-align: center;
  color:black;
background-color: #ffda15;
display: flex;
font-weight:0;

cursor: pointer;

}
.ce label:hover {
color:white;
background-color: black;

}
.co textarea {
background-color: white;
border-color:none;
box-sizing: border-box;
transition: 0.3s;
  width:50%;
  height: auto;
  margin:auto;
font-size: 14px;
font-family: Poppins;
color: black;
font-weight: bold;
margin-bottom: 0;
border-radius:8px;

 
  

}
.co textarea:focus {
border-color: #ffda15;
box-shadow: 0 0 8px 0 #ffda15;
}
::placeholder {
font-size: 13px;
font-family: poppins;
}
.btn {
color: black;
background: #ffda15;
font-size: 14px;
font-family: Poppins;
height:40px;
width: 150px;
cursor: pointer;
margin: 10px;
padding: 10px 20px;
text-decoration: none;


border-color:none;
}
.cs {
border-radius: 5px;
box-shadow: 0 0 2px 0 #ffda15;
margin: auto;
}

.cs:hover {
color: white;
background-color: black;
border-color: #ffda15;
}
.z a
{
  text-align:center;
}
.custom-select{
display: inline-block;
border-radius: 8px;
box-sizing: border-box;
width: 50%;
  
font-size:14px;

  
}
.custom-select:focus {
  border-color: #ffda15;}
}