* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: poppins;
  background: #170c0c;
}
.main {
  margin: 2%;
}
.mains {
  margin: 2%;
}

h3 {
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: Poppins;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 30px;
}

.card {
  width: 16rem;
  display: inline-block;
  box-shadow: 2px 2px 20px black;
  border-radius: 5px;
  background-color: #1ee86f;
  transition: 0.5s all ease;
  cursor: pointer;
  margin: 30px;
  padding: 5px;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.image {
  background-size: cover;
  grid-area: image;
  height: 163px;
  overflow: hidden;
  border-radius: 8px;
}

.image img {
  width: 100%;
}

img {
  border-radius: 8px;
}

.title {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 20px;
  font-family: poppins;
  font-weight: bold;
}

.des {
  padding: 3px;
  text-align: center;

  padding-top: 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
h4 {
  font-size: 18px;
  font-family: poppins;
  font-weight: bold;
}
.don {
  background-color: #ffda15;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  color: black;
}
.don:hover {
  background-color: black;
  color: white;
  transition: 0.5s all ease;
  cursor: pointer;
  border-color: #ffda15;
}

.drop a {
  color: black;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.page {
}
.page a {
  color: black;
  background-color: #ffda15;
  border-color: white;
}
.page a:hover {
  color: black;
  background-color: #ffda15;
  border-color: white;
}
