{% extends "user/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/adminhomepage.css' %}" />
{% endblock css %}

{% block content %}
      <div class="row text-center st">
        <div class="col">
         
         <h3 class="dis">Hello {{request.user}}</h3>
          
        
         </div>
        <div class="col">
          <img class="img-fluid rounded-circle" src="{% static 'images/logo.png' %}"  alt="coming soon" />
        </div>
      </div> 
      
       
     
      <h5 class="q">
          Manage Your Task
          </h5> <br>
      <div class="main">
      <div class="row text-center align-items-center">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 ">
          <div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">Total Organizations</h5>
    <p class="card-text">10</p>
    <a href="#" class="btn sl "data-toggle="collapse"
            data-target="#table1"
            aria-expanded="false"
            aria-controls="collapseExample">Manage Organizations</a>
  </div>
</div>
           
             </div> <br><br>
             
             
              <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">Total Events</h5>
    <p class="card-text">10</p>
    <a href="#" class="btn sl"data-toggle="collapse"
            data-target="#table2"
            aria-expanded="false"
            aria-controls="collapseExample">View Events</a>
  </div>
</div>
           
             </div> <br><br> <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">  Donors Details </h5>
    <p class="card-text">10</p>
    <a href="#" class="btn sl " data-toggle="collapse"
            data-target="#table3"
            aria-expanded="false"
            aria-controls="collapseExample">View Details</a>
  </div>
</div>
           
             </div><br> 
             <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="card" style="width: 15rem;">
  <div class="card-body">
    <h5 class="card-title">Uploaded Photos</h5>
    <p class="card-text">10</p>
    <a href="#" class="btn sl "data-toggle="collapse"
            data-target="#table4"
            aria-expanded="false"
            aria-controls="collapseExample">View Photos</a>
  </div>
</div>
           
          </div>
           </div>  
      </div>
      
      
     <div class="collapse evnts" id="table1">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col" class="a">No.</th>
              <th scope="col" class="a">Organization Name</th>
              <th scope="col" class="a">Email</th>
              <th scope="col" class="a">Address</th>
              <th scope="col" class="a">Contact Number</th>
              <th scope="col" class="a">License No</th>
              <th scope="col" class="a">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="a" scope="row">1</th>
              <td class="a">Dream</td>
              <td class="a">a@23</td>
              <td class="a">Uttara</td>
              <td class="a">01xxxxx</td>
              <td class="a">2210</td>
              <th scope="col">
                <a href="#"
                  ><button type="button" class="btn btn-success mr-2">
                    Approve
                  </button></a><br><br><a href="#"
                  ><button type="button" class="btn btn-danger mr-2">
                    Delete
                  </button></a>
                 
              </th>
            </tr>
      
      </tbody>
        </table>
        </div><br><div class="collapse donordetails" id="table2">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col" class="a">No.</th>
              <th scope="col" class="a">Event Name</th>
              <th scope="col" class="a">Hosted By</th>
              <th scope="col" class="a">Event Type</th>
              <th scope="col" class="a"> Motto</th>
              <th scope="col" class="a">Event Goal</th>
               <th scope="col" class="a">Raised</th>
              <th scope="col" class="a">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="a">1</th>
              <td class="a">Covid-19</td>
                <td class="a">Dream</td>
              <td class="a">Money</td>
              <td class="a">Help</td>
              <td class="a">100000tk</td>
              <td class="a">10000tk</td>
              <th scope="col">
                <a href="#"
                  ><button type="button" class="btn btn-warning mr-2">
                    Disable
                  </button></a
                > 
              </th>
            </tr>
            </tbody>
        </table>
      </div> <br>
      <div class="collapse opinions" id="table3">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col" class="a">No.</th>
              <th scope="col" class="a">Donor Name</th>
              <th scope="col" class="a">Contact Number</th>
              <th scope="col" class="a">Email</th>
              <th scope="col" class="a">Opinion</th>
              <th scope="col" class="a">Action</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="a">1</th>
              <td class="a">Saida</td>
              
              <td class="a">0100000000</td>
              <td class="a">saida@gmail.com</td>
              <td class="a">Lorem ipsum dolor</td>
              <th scope="col">
                <a href="viewmoread.html"
                  ><button type="button" class="btn btn-warning mr-2">
                    View More
                  </button></a
                > 
                </th>
            </tr>
            </tbody>
        </table>
      </div>
      <div class="collapse evnts" id="table4">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col" class="a">Upload</th>

              <th scope="col" class="a">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <div class="ce">
                <th scope="col">
                  <label for="validationTooltip05">
                    <span class="material-icons"> add_photo_alternate </span
                    >Choose a Photo</label
                  >
                  <input
                    type="file"
                    class="form-control"
                    id="validationTooltip05"
                    accept="image/*"
                  />
                </th>
              </div>
              <th scope="col">
                <a href="#"><button type="button" class="btn btn-success mr-2">
                  Submit
                </button></a>
              </th>
            </tr>
          </tbody>
        </table>
      </div><br><br>
{% endblock content %}
