{% extends "user/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/insertevent.css' %}" />
{% endblock css %}

{% block content %}
      <div class="head">
        <h1>Insert your Events here</h1>
      </div>
      <div class="main">
      
        <form method="POST" action="" class="needs-validation" novalidate>
        {% csrf_token %}
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationTooltip01">Event Title</label>
              {{form.event_title}}
            </div>
            <div class="col-md-6 mb-3 email">
              <label for="validationTooltip02">Organization Name</label>
              {{form.organization_name}}
            </div>
          </div>
          <br />
          <div class="form-group text-center">
            <label for="validationTooltip03"> Event Type</label> <br />
            <select class="custom-select" id="validationTooltip03" size="1">
              <option value="1">Money</option>
              <option value="2">Belongings</option></select
            >
          </div>
          <br />
          <div class="form-group co">
            {{form.description}}
          </div>
          <div class="col-md-6 mb-3 ce">
            <label for="validationTooltip05">
              <span class="material-icons"> </span>Choose a Photo</label
            >
            <input
              type="file"
              class="form-control"
              id="validationTooltip05"
              accept="image/*"
            />
          </div>

          <div class="text-center">
            <input class="btn cs" type="submit" value="Submit to Insert">
          </div>
        </form>
    </div>
{% endblock content %}
