{% extends "user/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/gallary.css' %}" />
{% endblock css %}

{% block content %}
     
      <h1>Our Gallary</h1>
      <br />
      <div class="main">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="sgallary1">
              <div class="gallary">
                <a href="img/1.jpg"
                  ><img src="{% static 'images/f.jpg'%}" alt="wait" width="300" height="200"
                /></a>
                <div class="des">Description if any</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="page">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </nav>
      </div>
      <br />
{% endblock content %}
