{% extends "user/base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css %} {% block content %}
<div class="mains">
  <div class="main">
    <div class="form">
      <h4>Sign In Here</h4>
      <form action="" method="POST">
        {% csrf_token %}
        <div class="input-box">
          <input
            name="username"
            type="text"
            id="e"
            required
            placeholder=" Enter your email"
          />
          <div class="valid-feedback">Email is available</div>
        </div>
        <div class="input-box">
          <input
            name="password"
            type="password"
            id="d"
            required
            placeholder=" Enter your password"
          />
          <div class="invalid-feedback">This Password is not Safe</div>
        </div>
        <div class="input-box">
          <a href="organizationhomepage.html">
            <input type="submit" id="submit" value="Sign In"
          /></a>
        </div>
        <br />
        <div>
        {% for message in messages %}
          {{message}}
        {% endfor %}
        </div>
        <a href="" class="sa"><p>Forget password?</p></a>
        <a href="/register" class="sb"
          ><p>New here? Please go for Sign Up</p></a
        >
        <div class="social-media">
          <ul>
            <a href="#"
              ><li>
                <img class="wr" src="{% static 'images/facebook.png'%}" /></li
            ></a>
            <a href=""
              ><li><img src="{% static 'images/twitter.png'%}" /></li
            ></a>
            <a href="#"
              ><li><img src="{% static 'images/linkedin.png'%}" /></li
            ></a>
          </ul>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
