{% load static %}
<nav class="navbar navbar-expand-md nav">
  <a class="navbar-brand" href="/"
    ><img class="img-fluid t" src="{% static 'images/a.png' %}" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse na" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/about">What We Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/gallary">Gallary</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Join us</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Donate
        </a>
        <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/allevents">Money</a>

          <div class="drop"></div>
          <a class="dropdown-item" href="/allevents">Belongings</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
