{% extends "user/base.html" %} 
{% load static %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}" />
{% endblock css %} 

{% block content %}
<div class="mains">
  <div class="main">
    <div class="form">
      <h4>Sign Up Here</h4>
      <div class="input-box">
        {{form.username}}
      </div>
      <div class="input-box">
        {{form.email}}
      </div>
      <div class="input-box">
        {{form.password1}}
        <div class="invalid-feedback">This Password is not Safe</div>
      </div>
      <div class="input-box">
        {{form.password2}}
        <div class="invalid-feedback">Passwords not matching</div>
      </div>
      <div class="input-box">
        <input type="submit" value="Sign Up">
      </div>
      <br />

      <a href="/login" class="sb"><p>One of us? just Sign-In!</p></a>
      <div class="social-media">
        <ul>
          <a href="#"
            ><li><img class="wr" src="{% static 'images/facebook.svg'%}" /></li
          ></a>
          <a href=""
            ><li><img src="{% static 'images/twitter.png'%}" /></li
          ></a>
          <a href="#"
            ><li><img src="{% static 'images/linkedin.png' %}" /></li
          ></a>
        </ul>
      </div>
    </div>
  </div>
</div>

<br />
{% endblock content %}
