{% extends "user/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
{% endblock css %}

{% block content %}
      <div class="cont">
        <div class="form sign-up">
          <h5>Sign Up</h5>

          <label>
            <span>Organization Name</span>
            <input type="text" name="text" />
          </label>
          <label>
            <span>Email</span>
            <input type="email" name="email" />
          </label>

          <label>
            <span>Password</span>
            <input type="password" name="password" />
          </label>
          <label>
            <span>Contact Number</span>
            <input type="password" name="password" />
          </label>

          <label>
            <span>Address</span>
            <input type="text" name="password" />
          </label>
          <label>
            <span>License Number</span>
            <input type="password" name="password" />
          </label>

          <div class="sin">
            <a href="organizationhomepage.html"
              ><button class="submit" type="button">Sign Up</button></a
            >
          </div>
          <div class="social-media">
            <ul>
              <a href="#"
                ><li><img src="{% static 'images/facebook.png' %}" /></li
              ></a>
              <a href=""
                ><li><img src="{% static 'images/twitter.png' %}" /></li
              ></a>
              <a href="#"
                ><li><img src="{% static 'images/linkedin.png' %}" /></li
              ></a>
              <a href="#"
                ><li><img src="{% static 'images/instagram.png' %}" /></li
              ></a>
            </ul>
          </div>
          <div class="ig">
            <div class="im">
              <br /><br />
              <div class="img-text m-up">
                <h3>One of us?</h3>
                <p>If you already has an account just sign in!</p>
              </div>
              <br /><br /><br /><br /><br /><br /><br /><br /><br />
              <div class="text-center align-items-center">
                <a class="cs" href="#" role="button">Sign In</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br /><br />
{% endblock content %}
