<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/viewmoread.css" />

    <title>View more details</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg nav">
        <div class="collapse navbar-collapse na" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">What we do</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallary.html">Gallary</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signup.html">Join us</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
              >
                Donate
              </a>
              <div class="dropdown-menu drop" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="donatebelongings.html">
                  Belongings</a
                >

                <div class="drop"></div>
                <a class="dropdown-item" href="donatemoney.html">Money</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="row text-center align-items-center">
        <div class="col">
          <button
            type="button"
            class="btn abtn btn-lg"
            data-toggle="collapse"
            data-target="#table1"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            View More Details</button
          ><br /><br />
        </div>
        <div class="col">
          <img src="images/ssms.jpg" class="round-circle" alt="coming soon" />
        </div>
      </div>
      <br /><br />
      <div class="collapse donordetails" id="table1">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col" class="a">No.</th>
              <th scope="col" class="a">Email</th>
              <th scope="col" class="a">Image</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="a">1</th>
              <td class="a">df@gmail.com</td>
              <td class="image"><img src="images/cs.jpg" alt="wait" /></td>
            </tr>
            <tr>
              <th scope="row" class="a">2</th>
              <td class="a">c123@gmail.com</td>
              <td class="image"><img src="images/cs.jpg" alt="wait" /></td>
            </tr>
            <tr>
              <th scope="row" class="a">3</th>
              <td class="a">saida@gmail.com</td>
              <td class="image"><img src="images/cs.jpg" alt="wait" /></td>
            </tr>
          </tbody>
        </table>
      </div>
      <footer>
        <div class="footer-top">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
              <h2>Spread Smiles</h2>
            </div>
            <div class="col-md-3 col-sm-6 ctwoxs-12 segment-two">
              <h2>Links</h2>
              <ul>
                <li><a href="about.html">What we do</a></li>
                <li><a href="signup.html">Join us</a></li>
                <li><a href="gallary.html">Gallary</a></li>
                <li><a href="viewevents.html">Donate</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 ctwoxs-12 segment-three">
              <h2>Contact</h2>
              <ul>
                <li>Uttara,Dhaka,Bangladesh</li>
                <li>01xxxxxxxx</li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 ctwoxs-12 segment-four">
              <h2>Follow us</h2>
              <p>
                Follow us on our social media profile in order to keep updated
                with our recent task
              </p>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script
      src="https://kit.fontawesome.com/832cd3cad9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
